

<div class="main-home">
<h1 class="main-header-home">Home</h1>
  <p class="user-home">{{currentUser.username}}</p>
  {{#unless currentUser.teacher}}
    <p class="user-home">Teacher</p>
  {{/unless}}

  <div class="container-home">
    {{#unless currentUser.teacher}}
      <button class="button-add-question-home"><a href="/questions/create">Add questions</a></button>
    {{/unless}}

    <p>{{question}}</p>
    {{#each this}}
    <form action="/home/{{_id}}" method="POST">
      <p>{{question}}</p>
      <div>
        {{#each answers}}
          <label for="{{solution}}">{{solution}}</label>
          <input type="radio" id="{{solution}}" name="solution" value='{{solution}}'>
        {{/each}}
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  {{/each}}
  </div>
</div>