
<div class="main-home">
  <h1 class="main-header-home">Home</h1>
  <div class="sub-header-home">
    {{#unless currentUser.teacher}}
      <p class="user-home">Teacher</p>
    {{/unless}}
    <p class="user-home-name">{{currentUser.username}}</p>
  </div>
  <div class="container-home">
    {{#unless currentUser.teacher}}
      <button class="button-add-question-home"><a class="text-button-add-question-home" href="/questions/create">Add question</a></button>
    {{/unless}}

    <p>{{question}}</p>
    {{#each this}}
    <form action="/home/{{_id}}" method="POST">
      <p>{{question}}</p>
      <div>
        {{#each answers}}
          <label for="{{solution}}">{{solution}}</label>
          <input type="radio" id="{{solution}}" name="solution" value='{{solution}}'>
        {{/each}}
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  {{/each}}
  </div>
</div>