
<div class="main-home">
  <h1 class="main-header-home">Home</h1>
  <div class="sub-header-home">
    {{#if currentUser.teacher}}
      <p class="user-home">Teacher</p>
    {{/if}}
    <p class="user-home-name">{{currentUser.username}}</p>
  </div>
  <div class="container-home">
    {{#if currentUser.teacher}}
      <button class="button-add-question-home"><a class="text-button-add-question-home" href="/questions/create">Add question</a></button>
    {{/if}}


    {{#each this}}
      {{#if answerCorrect}}
        <p>{{question}}</p>
        {{#each answers}}
          {{#if correct}}
            <h3>{{solution}}</h3>
          {{/if}}
          {{#unless correct}}
            <p>{{solution}}</p>
          {{/unless}}
        {{/each}}
      {{/if}}
      {{#unless answerCorrect}}
        <form action="/home/{{_id}}" method="POST">
          <p>{{question}}</p>
          <div>
            {{#each answers}}
              <label for="{{solution}}">{{solution}}</label>
              <input type="radio" id="{{solution}}" name="solution" value='{{solution}}'>
            {{/each}}
          </div>
          <div>
            <button type="submit">Submit</button>
          </div>
          </form>
      {{/unless}}
    {{/each}}
  </div>
</div>