<div class="main-create-question-3">
    <div class="container-create-question-3">
        <div class="headers-create-question-3">
            <h2 class="title-create-question-3">Your Profile</h2>
        </div>
        <div class="container-question-3-inputs">
            <form action="/profile" method="POST" enctype="multipart/form-data" class="appointment-form-create-question-3">
                <div class="profile-info">
                    <div class="profile-data-container">
                        <span>
                            <p>Username: {{currentUser.username}}</p>
                            <br>
                            <p>Name: {{currentUser.name}}</p>
                            <br>
                            <p>Surname: {{currentUser.surname}}</p>
                            <br>
                            <p>Birthday: {{currentUser.birthday}}</p>
                        </span>
                    </div>
                    {{!-- <div class="profile-picture-container">
                        <input type="file" name="photo">
                        <img src="{{image}}" alt="{{title}}">
                    </div> --}}
                </div>
                <ul class="profile-stadistics-list">
                    <li class="profile-stadistics-list-element"><span class="profile-stadistics-list-element-input">{{currentUser.numberOfAnswers}}</span>Question answered 
                    </li>
                    <li class="profile-stadistics-list-element"><span class="profile-stadistics-list-element-input">{{currentUser.correctAnswers}}</span>Correct answers
                    </li>
                    <li class="profile-stadistics-list-element"><span class="profile-stadistics-list-element-input">{{currentUser.wrongAnswers}}</span>Wrong answers
                    </li>
                    <li class="profile-stadistics-list-element"><span class="profile-stadistics-list-element-input">{{currentUser.puntuation}}</span>Puntuation 
                    </li>
                </ul>
            </form>
        </div>
        <div class="profile-questions-created">
            {{#if currentUser.teacher}}
                {{#each currentUser.questionsMade}}
                    <h3 class="profile-questions-created-question">{{question}}</h3>
                    <div class="profile-questions-content">
                        <div class="profile-questions-content-parameters">
                            {{#each parameters}}
                            <div class="profile-questions-content-parameters-elements">
                                <p>Max: {{max}}</p>
                                <p>Min: {{min}}</p>
                                <p>Precission: {{precission}}</p>
                            </div>
                            {{/each}}
                        </div>
                        <div class="profile-questions-content-functions">
                            {{#each function}}
                            <div class="profile-questions-content-functions-elements">
                                <p>Function</p>
                                <p>{{this}}</p>
                            </div>
                            {{/each}}
                        </div>
                        <div class="profile-questions-content-buttons">
                            <button  class="profile-questions-content-buttons-Edit">Edit</button>
                            <button class="profile-questions-content-buttons-Delete"><a href="/home/delete/{{_id}}">Delete</a></button>
                        </div>
                    </div>
                {{/each}}
            {{/unless}}
            <div>
                <h3 class="hitorical">Historical Questions Answered</h3>
                {{#each currentUser.answers}}
                    <div class="profile-questions-content-bring">
                        <h3 class="profile-questions-content-bring-question">{{question}}</h3>
                        <div class="hitorical-solution-top">
                            <div class="hitorical-solution">
                            {{#each answers}}
                                <div class="container-answered-and-right">
                                    {{#if correct}}
                                            {{#if answered}}
                                                <p class="title-answered-and-right">Right answered</p>
                                                <h2 class="value-answered-and-right">{{solution}}</h2>
                                            {{/if}}
                                        
                                        <div class="container-answered">
                                            {{#unless answered}}
                                                <p class="title-answered">Right answer</p>
                                                <h2 class="value-answered">{{solution}}</h2>
                                            {{/unless}}
                                        </div>
                                    {{/if}}
                                </div>
                                <div class="hitorical-solution-other">
                                    {{#unless correct}}
                                        <div class="container-other">
                                            {{#if answered}}
                                                <p class="title-other">Answered</p>
                                                <h4 class="value-other">{{solution}}</h4>
                                            {{/if}}
                                        </div>
                                        <div class="container-solution">
                                            {{#unless answered}}
                                                <p class="value-solution">{{solution}}</p>
                                            {{/unless}}
                                        </div>
                                    {{/unless}}
                                </div>
                            {{/each}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

